{{ blok._editable }}
<div class="row align-left align-top large-row large-collapse">
  <div
    id="788" class="column small-12 elements-home_about" style="background-image: url('{{ blok.background }}');">
    <div
      class="row container align-center">
      <div
        class="column small-12 medium-11 large-8">
        <h2>{{ blok.headline }}</h2>
        <p>{{ blok.subheadline }}</p>
        <p
          class="text-award">{{ blok.text_award }}</p>
        <a
          href="{{ blok.read_more_link }}" class="button">Read More</a>
      </div>
    </div>
  </div>
</div>